footer.footer
	.container.footer__container
		+picture('iceberg', 'png', 'footer__iceberg')
		+icon('dots-3')(width='368', height='123', class='footer__dots')
		.footer__content
			.footer__title Мы гаранитируем
			.footer__text.
				G&G — это глобальный бренд премиум класса от компании Ninestar, который поставляет расходные материалы
				и профессиональные решения для печати более чем 200 миллионам потребителей в более чем 170 странах. История
				компании началась в 2000 году с идеи предложить потребителям высококачественную альтернативу дорогим
				оригинальным расходным материалам.
		.footer__peng
			+picture('peng-footer', 'png')
