<!-- СЧЕТЧИК ОБЩИЙ  -->
<!-- google analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2810769-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){ dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-2810769-2');
</script>



<!-- /google analytics -->
<!-- счетчики по поддоменам -->


<!-- google page time view -->
<script type="text/javascript">
	ga_time_on_page=0;
	function timeCount ()
	{
		ga_time_on_page++;
		t=setTimeout(timeCount,1000);
	}
	t=setTimeout(timeCount,1000);
	function send2ga()
	{	try {
		if (pageTracker) pageTracker._trackEvent("Page", "Unload", encodeURIComponent(document.location.href), ga_time_on_page);
	} catch(err) { }
	}
	window.onbeforeunload = send2ga;
</script>
<!-- //google analytics -->

<!-- Yandex.Metrika -->
<!-- общий счетчик -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;">
	<script type="text/javascript">
		try { var yaCounter1054569 = new Ya.Metrika(1054569); } catch(e){ }
	</script>
</div>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1054569" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->

<!-- счетчики по поддоменам -->
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
	(function(w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter12154012 = new Ya.Metrika({ id:12154012, enableAll: true, webvisor:true });
			}
			catch(e) { }
		});
	})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/12154012" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Дополнительный счетчик GA  -->

<!-- СЧЕТЧИК ДЛЯ СПЕЦПРОЕКТА  -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(97747065, "init", {
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/97747065" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPJKV3GJ6J"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-GPJKV3GJ6J'); </script>
