.about {
	$parent: &;

	padding: 30px 0 40px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;

		@include min(ti) {
			flex-direction: row;
		}

		@include min(tl) {
			gap: 70px;
		}
	}

	&__left {
		@include min(ti) {
			min-width: 403px;
			max-width: 403px;
		}
	}

	&__right {
		width: 100%;

		@include min(ti) {
			max-width: 600px;
		}
	}

	&__articles {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;

		@include min(ti) {
			gap: 44px;
		}
	}

	&__peng {
		position: absolute;
		top: calc(41% + 50px);
		right: -66px;
		z-index: 1;
		display: none;
		max-width: 100px;

		@include min(ti) {
			display: block;
		}

		@include min(tl) {
			max-width: 125px;
			right: -85px;
		}

		img {
			transition: 0.3s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	&__peng-2 {
		position: absolute;
		bottom: -90px;
		left: -162px;
		display: none;

		@include min(ti) {
			display: block;
		}

		img {
			transition: 0.3s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	&__solutions {
		margin-top: 30px;

		@include min(ti) {
			margin-top: 51px;
		}
	}

	&__accordion + #{$parent}__accordion {
		margin-top: 30px;

		@include min(ti) {
			margin-top: 20px;
		}
	}

	&__materials {
		margin-top: 50px;

		@include min(ti) {
			margin-left: auto;
			margin-top: 74px;
		}
	}
}