.about {
	$parent: &;

	padding: 30px 0 40px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;

		@include min(ti) {
			flex-direction: row;
		}

		@include min(tl) {
			gap: 70px;
		}
	}

	&__left {
		@include min(ti) {
			min-width: 403px;
			max-width: 403px;
		}
	}

	&__right {
		width: 100%;
	}

	&__articles {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include min(ti) {
			gap: 44px;
		}
	}

	&__peng {
		position: absolute;
		top: calc(41% + 50px);
		right: -66px;
		display: none;
		max-width: 100px;
		pointer-events: none;

		@include min(ti) {
			display: block;
		}

		@include min(tl) {
			max-width: 144px;
			right: -88px;
		}
	}

	&__peng-2 {
		position: absolute;
		bottom: -90px;
		left: -162px;
		display: none;
		pointer-events: none;

		@include min(ti) {
			display: block;
		}
	}

	&__solutions {
		margin-top: 30px;

		@include min(ti) {
			margin-top: 51px;
		}
	}

	&__accordion + #{$parent}__accordion {
		margin-top: 30px;

		@include min(ti) {
			margin-top: 97px;
		}
	}

	&__accordion:nth-child(2) {
		margin-top: 30px;

		@include min(ti) {
			margin-top: 8px;
		}
	}

	&__materials {
		margin-top: 50px;

		@include min(ti) {
			margin-top: 74px;
		}
	}
}