.catalog {
	padding: 48px 0 60px;

	&__window {
		position: relative;
		padding: 60px 20px 40px;
		border-radius: 14px;
		border: 1px solid $color-border;

		@include min(ti) {
			padding: 60px 40px 42px 52px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.2;
	}

	&__grid-wrapper {
		position: relative;
		margin-top: 20px;

		@include min(ti) {
			margin-top: 34px;
		}
	}

	&__grid-icon {
		position: absolute;
		top: 12px;
		left: -20px;
		max-width: calc(100% + 40px);

		@include min(ti) {
			left: -52px;
			max-width: calc(100% + 92px);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 20px;

		@include min(ti) {
			grid-template-columns: repeat(3, 1fr);
			gap: 30px 70px;
		}
	}

	&__select + .select2 {
		position: absolute;
		top: -29px;
		left: 53px;
	}

	&__link {
		position: absolute;
		left: 50%;
		bottom: -20px;
		transform: translateX(-50%);
		padding: 12px 67px;
	}
}