.feedback {
	&__window {
		border-radius: 10px;
		padding: 35px;
		background-color: rgba($color-background, 0.7);
		border: 1px solid $color-background;
		backdrop-filter: blur(10px);

		form {
			display: flex;
			flex-direction: column;
			gap: 25px;
			margin-top: 15px;
		}
	}

	&__close {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/%3E%3C/svg%3E");
		transition: 0.3s ease;

		&:focus {
			outline: none;
		}

		&:hover {
			transform: rotate(180deg);
		}
	}

	&__disclaimer {
		color: rgba(255, 255, 255, 0.5);
		font-size: 12px;
		margin-top: 30px;

		&::before {
			content: '';
			display: block;
			width: 100px;
			height: 1px;
			margin-bottom: 10px;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	.ss-form-title {
		display: none;
	}

	.ss-item-type-text:first-child {
		display: none;
	}

	.ss-form-item input,
	.ss-form-item textarea {
		width: 100%;
		border: 1px solid #fff;
		padding: 10px 10px;
		background-color: $color-background;
		border-radius: 5px;
		color: #ffffff;
		transition: 0.3s ease;
		margin-top: 3px;

		&:hover,
		&:focus {
			border-color: $color-border;
		}

		& + label {
			font-size: 12px;
			color: $color-button;
			margin-top: 3px;
		}
	}

	.ss-form-item textarea {
		height: 120px;
	}

	.ss-form-item-error input,
	.ss-form-item-error textarea {
		border-color: $color-button;
	}

	.ss-form-submit {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: $color-button;
		padding: 12px 30px;
		box-shadow: 0 7px 30px rgba(243, 152, 0, 0.69);
		border-radius: 36px;
		color: $white;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.2;
		cursor: pointer;
		transition: 0.3s ease;

		&:hover {
			background-color: rgba($color-button, 0.8);
		}
	}
}