extends ../layouts/default

block vars
	-
		const page = {
			title: 'G&G'
		};

block main
	section.hero
		+icon('dots-1')(width='123', height='422', class='hero__dots')
		.hero__bg
			+picture('bg', 'jpg')
		.hero__peng.js-parallax(data-parallax-property='translateY', data-parallax-property-value='-180', data-parallax-steps='0, 180')
			+picture('peng-1', 'png')
		.container.hero__container
			.hero__left
				h1.hero__title <span class="hero__title-part">Без айсбергов</span> <span class="hero__title-part">в печати</span> <span class="hero__title-part">с <span class="hero__title-bg">G&G</span></span>
				.hero__description.
					G&G — это глобальный бренд премиум класса от компании Ninestar, который поставляет расходные материалы и
					профессиональные решения для печати более чем 200 миллионам потребителей в более чем 170 странах. <br>
					История компании началась в 2000 году с идеи предложить потребителям высококачественную альтернативу дорогим
					оригинальным расходным материалам.
			.hero__advantages
				.advantages
					.advantages__icon
						+icon('adv-1')
					.advantages__content
						.advantages__title Высокое качество:
						.advantages__text компания использует только качественные материалы и технологии для производства своей продукции
				.advantages.advantages--reverse
					.advantages__icon
						+icon('adv-2')
					.advantages__content
						.advantages__title Экологичность:
						.advantages__text G&G заботится об окружающей среде и использует экологически чистые материалы
				.advantages
					.advantages__icon
						+icon('adv-3')
					.advantages__content
						.advantages__title Инновации:
						.advantages__text компания постоянно внедряет новые технологии и разрабатывает инновационные продукты.

	section.about(invisible)
		.container.about__container
			.about__left
				.about__articles
					.about__peng.js-parallax(data-parallax-property='translateY', data-parallax-property-value='-80', data-parallax-steps='0, 80')
						+picture('peng-2', 'png')
					.about__peng-2.js-parallax(data-parallax-property='translateY', data-parallax-property-value='80', data-parallax-steps='0, 80')
						+picture('peng-3', 'png')
					.article
						.article__title Расходные материалы G&G — решение проблемы «айсбергов» в печати
						.article__text.
							Если печатная инфраструктура на предприятии не оптимизирована, то компания или провайдер управляемых
							услуг печати будут терпеть издержки по ряду причин. Выход есть — расходные материалы самого высокого
							качества позволяют избежать затрат на ремонт и простои техники, логистику и перепечатывание «неудачных» страниц.
							Редакция ZOOM.CNews рассказывает, что может предложить предприятиям и MPS-провайдерам производитель
							совместимых расходных материалов — бренд G&G.
						+button('Читать полностью', 'article__link', 'https://zoom.cnews.ru/publication/item/65220')
					.article
						.article__title Печать без забот: расходные материалы G&G премиального качества
						.article__text.
							Оригинальные картриджи для принтеров стоят очень дорого, а некачественные и дешевые расходные материалы
							могут снизить производительность оборудования и сократить его срок службы. Альтернатива — совместимые
							расходные материалы, которые не вредят принтерам. Редакция ZOOM.CNews рассказывает о лидере в области
							производства совместимых расходных материалов — бренде G&G.
						+button('Читать полностью', 'article__link', 'https://zoom.cnews.ru/publication/item/64939')
				.about__solutions.solutions
					.solutions__title Лучшие решения
					.solutions__wrapper
						.solutions__nav.swiper-nav
							.swiper-btn-prev
								+icon('chevron-left')(width='18', height='32')
							.swiper-btn-next
								+icon('chevron-right')(width='18', height='32')
						.solutions__slider.swiper
							.swiper-wrapper
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/1.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/1', 'jpg')
									.solution-card__title СЕРИЯ JUMBO
									.solution-card__text.
										В основе серии Jumbo лежит стремление обеспечить исключительную производительность и эффективность. <br>
										Благодаря удвоению ресурса по сравнению со стандартными картриджами серия Jumbo гарантирует, что предприятия
										смогут печатать больше, при этом значительно снижая стоимость одного отпечатка.
									+button('Подробнее', 'solution-card__button')
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/4.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/2', 'jpg')
									.solution-card__title СЕРИЯ DUAL-ECO
									.solution-card__text.
										Экономичный выбор: струйные картриджи Dual-Eco имеют большую емкость чернил, что позволяет печатать в два
										раза больше страниц по сравнению с оригинальными картриджами. <br>
										Если взять в качестве примера замену Epson T9451, Dual-Eco от G&G может сэкономить до 73% стоимости одного отпечатка.
									+button('Подробнее', 'solution-card__button')
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/2.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/3', 'jpg')
									.solution-card__title ТОНЕР-КАРТРИДЖИ ДЛЯ <br> ПРОИЗВОДИТЕЛЬНЫХ МФУ ФОРМАТА А3
									.solution-card__text.
										Производительные устройства А3 формата в основном предназначены для рынка MPS и крупных предприятий. <br>
										У них более высокие требования к патентной безопасности и экологичности.
									+button('Подробнее', 'solution-card__button')
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/5.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/4', 'jpg')
									.solution-card__title КАРТРИДЖИ ДЛЯ СТРУЙНЫХ ШИРОКОФОРМАТНЫХ УСТРОЙСТВ
									.solution-card__text.
										G&G на протяжение всей своей истории ведет исследовательскую работу и внедряет инновации, с помощью
										R&D расширяя линейку своей продукции для использования в широкоформатных струйных машинах.
									+button('Подробнее', 'solution-card__button')
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/3.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/5', 'jpg')
									.solution-card__title ТОНЕР-КАРТРИДЖИ ДЛЯ ЦВЕТНЫХ ЛАЗЕРНЫХ УСТРОЙСТВ
									.solution-card__text.
										G&G выбрал путь эксперта в цвете. Технология Color Control, созданная инженерами G&G, обеспечивает идеальный
										баланс между точным дизайном продукта, тщательным отбором сырья, строгим производственным контролем,
										соблюдением требований безопасности и надежной цепочкой поставок.
									+button('Подробнее', 'solution-card__button')
								.swiper-slide.solution-card
									a.solution-card__link(href='./images/solutions-detail/7.jpg', data-lightbox='image')
									.solution-card__image
										+picture('solutions/6', 'jpg')
									.solution-card__title ЛАЗЕРНЫЕ УСТРОЙСТВА G&G
									.solution-card__text.
										Лазерные принтеры G&G имеют прочный внутренний металлический каркас, обеспечивающий
										устойчивость и долговечность при транспортировке и печати, а также устойчивость к высоким
										температурам, особенно при больших тиражах.
									+button('Подробнее', 'solution-card__button')
			.about__right
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Качество
					.accordion__content Высокое качество, обеспечивающее экономичную печать без скрытых затрат
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Идеальное решение
					.accordion__content.
						Для сервисных/MPS-партнеров, которые рассчитывают свои затраты и не хотят терять из-за плохого
						качества расходных материалов и необходимости постоянно отправлять своих инженеров на место
						для устранения неполадок и замены расходных материалов
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Ассортимент
					.accordion__content Широкий ассортимент, включающий специфические и очень требовательные к качеству сегменты, такие как широкий формат, цифровая струйная печать и очень производительные = очень дорогие копиры формата А3
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Совместимость
					.accordion__content Первые предложения продуктов на рынке совместимки — экономия затрат и расширение предложения заказчикам (не работать только с дорогим оригиналом, а иметь возможность рассмотреть качественную совместимку, когда кроме G&G ее никто не предлагает, поскольку мы ее первыми разработали)
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Сертификация
					.accordion__content Сертификация и стандартизация (применимо к России)
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Экологичность
					.accordion__content Для клиентов с экологическими требованиями (правительство, здравоохранение, образование) экономия затрат на создание имиджа
				.about__accordion.accordion
					.accordion__tab-wrapper
						.accordion__tab
							+icon('chevron-down')(width='19', height='11')
							span Эксклюзивное сырье
					.accordion__content Эксклюзивное сырье и собственные патенты
				.about__materials.materials
					.materials__title Брошюра <br> по принтерам
					.materials__content
						.materials__text.
							В основе серии Jumbo лежит стремление обеспечить исключительную производительность и эффективность.
						.materials__plate
						+button('Скачать', 'materials__download', '#')

	section.statistics(invisible)
		.container.statistics__container
			.statistics__item
				p На
				p <span class="odometer-value" data-content="30">30</span>%-<span class="odometer-value" data-content="100">100</span>%
				p больше ресурс G&G картриджей <br> по сравнению с ОЕМ
			.statistics__item
				p &nbsp;
				p <span class="odometer-value" data-content="13">13</span>&nbsp;<span class="odometer-value" data-content="700">700</span>
				p позиций <br> в ассортименте
			.statistics__item
				p &nbsp;
				p <span class="odometer-value" data-content="185">185</span>
				p производственных <br> линий
			.statistics__item
				p Менее
				p <span class="odometer-value" data-content="0">0</span>.<span class="odometer-value" data-content="3">3</span>%
				p уровень <br> брака
			.statistics__item
				p &nbsp;
				p <span class="odometer-value" data-content="10">10</span>
				p Среднее количество <br> обновлений прошивки <br> в год

	section.catalog(invisible)
		.container.catalog__container
			.catalog__window
				select.catalog__select
					option JUMBO
					option ЛАЗЕРНЫЕ УСТРОЙСТВА
					option ТОНЕР-КАРТРИДЖИ А3
					option ЧЕРНИЛА
					option DUAL-ECO
				+button('Запросить образец', 'button--blue catalog__link', '#')(data-hystmodal='#feedback')
				.catalog__title Возможно вам подойдут:
				.catalog__grid-wrapper
					+icon('dots-2')(width='949', height='123', class='catalog__grid-icon')
					.catalog__grid(data-tab='JUMBO', style='display: grid')
						.catalog-card
							.catalog-card__image
								+picture('catalog/1', 'png')
							.catalog-card__title GG-1106XL
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> W1106A
								li <b>Тип:</b> Тонер-картридж с чипом
								li <b>Цвет:</b> Черный
								li <b>Ресурс:</b> 5000 стр.
								li <b>Совместимость:</b> <br> HP LaserJet MFP 135/137; <br> HP LaserJet 107
						.catalog-card
							.catalog-card__image
								+picture('catalog/2', 'png')
							.catalog-card__title GG-CF259X
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> CF259X
								li <b>Тип:</b> Тонер-картридж с чипом без чипа
								li <b>Цвет:</b> Черный
								li <b>Ресурс:</b> 10 000 стр..
								li <b>Совместимость:</b> <br> HP LaserJet Pro M304/M404; <br> HP MFP M428
						.catalog-card
							.catalog-card__image
								+picture('catalog/3', 'png')
							.catalog-card__title GG-TN3610XL
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> TN-3610XL
								li <b>Тип:</b> Тонер-картридж с чипом
								li <b>Цвет:</b> Черный
								li <b>Ресурс:</b> 25 000 стр..
								li <b>Совместимость:</b> <br> Brother HL-L5210/ L5215/ L6210/ <br> L6410/ L6415/ DCP-L5510/ <br> MFC-L5710/ L5715/ L6710/ L6910/ <br> L6915/ EX910

					.catalog__grid.catalog__grid--column-4(data-tab='ЛАЗЕРНЫЕ УСТРОЙСТВА')
						.catalog-card
							.catalog-card__image
								+picture('catalog/4', 'png')
							.catalog-card__title P2022/P2022W
							ul.catalog-card__list
								li <b>Тип:</b> принтер
								li <b>Скорость печати (A4):</b> <br> 22 стр./мин
								li <b>Соединение:</b> <br> USB + Сеть + wi-fi <br> (модель с «W»)
								li <b>Дополнительный картридж</b> <br> на 15 000 стр.
								li <b>Сегменты пользователей:</b> <br> Домашний и малый офис, SMB
							a.catalog-card__pdf(href='#') Скачать брошюру
						.catalog-card
							.catalog-card__image
								+picture('catalog/5', 'png')
							.catalog-card__title GP3300DN/DW
							ul.catalog-card__list
								li <b>Тип:</b> принтер
								li <b>Скорость печати (A4):</b> <br> 33 стр./мин
								li <b>Соединение:</b> <br> USB + Сеть + wi-fi <br> (модель с «W»)
								li <b>Дополнительный картридж</b> <br> на 25 000 стр.
								li <b>Сегменты пользователей:</b> <br> Домашний и малый офис, <br> SMB, большие рабочие группы, <br> госсектор
							a.catalog-card__pdf(href='#') Скачать брошюру
						.catalog-card
							.catalog-card__image
								+picture('catalog/6', 'png')
							.catalog-card__title GM3300DN/DW
							ul.catalog-card__list
								li <b>Тип:</b> МФУ
								li <b>Скорость печати (A4):</b> <br> 33 стр./мин
								li <b>Соединение:</b> <br> USB + Сеть + wi-fi <br> (модель с «W»)
								li <b>Дополнительный картридж</b> <br> на 25 000 стр.
								li <b>Сегменты пользователей:</b> <br> Домашний и малый офис, <br> SMB, большие рабочие группы, <br> госсектор
							a.catalog-card__pdf(href='#') Скачать брошюру
						.catalog-card
							.catalog-card__image
								+picture('catalog/7', 'png')
							.catalog-card__title GM3310DN/DW
							ul.catalog-card__list
								li <b>Тип:</b> МФУ
								li <b>Скорость печати (A4):</b> <br> 33 стр./мин
								li <b>Соединение:</b> <br> USB + Сеть + wi-fi <br> (модель с «W»)
								li <b>Дополнительный картридж</b> <br> на 25 000 стр.
								li <b>Сегменты пользователей:</b> <br> Домашний и малый офис, <br> SMB, большие рабочие группы, <br> госсектор
							a.catalog-card__pdf(href='#') Скачать брошюру

					.catalog__grid(data-tab='ТОНЕР-КАРТРИДЖИ А3')
						.catalog-card
							.catalog-card__image
								+picture('catalog/8', 'png')
							.catalog-card__title GG-CRMPC2003 Series
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> MPC2003
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый
								li <b>Ресурс:</b> 15 000 стр. (черный), 9 500 стр. (цветные)
								li <b>Совместимость:</b> Ricoh MP C2003/ MP C2004/ C2503/ C2504/ IM C2000/ IM C2500
						.catalog-card
							.catalog-card__image
								+picture('catalog/9', 'png')
							.catalog-card__title GG-NPG67 Series
							ul.catalog-card__list
								li <b></b> NPG67BK/C/M/Y
								li <b></b> Черный / Голубой / Пурпурный / Желтый
								li <b>Ресурс:</b> 36 000 стр. (черный), 19 000 стр. (цветные)
								li <b>Совместимость:</b> Canon imageRunner ADVANCE C3020/ C3320/ C3325/ C3330/ C3520/ C3525/ C3530
						.catalog-card
							.catalog-card__image
								+picture('catalog/10', 'png')
							.catalog-card__title GG-CCEXV64 Series
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> C-EXV64K/C/M/Y
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый
								li <b>Ресурс:</b> 38 000 стр.
								li <b>Suitable for use in:</b> <br> Canon imageRunner ADVANCE DX C3926i/3930i/3935i/3922i
					.catalog__grid(data-tab='ЧЕРНИЛА')
						.catalog-card
							.catalog-card__image
								+picture('catalog/11', 'png')
							.catalog-card__title GG-C13T00S14
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> 104
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый
								li <b>Объем чернил:</b> 70ml
								li <b>Совместимость:</b> множество моделей линейки Epson EcoTank (в том числе L1110, 3110, 3210, 5190, 5296и другие)
						.catalog-card
							.catalog-card__image
								+picture('catalog/12', 'png')
							.catalog-card__title GG-T6641BK
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> 664
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый
								li <b>Объем чернил:</b> 70ml
								li <b>Совместимость:</b> множество моделей линеек Epson L1xx, L2xx, L3xx, L4xx, Epson Expression (в том числе ET-2500, ET-4500), Epson WorkForce (в том числе ET-14000, L1300, ET-3600, ET-16500 и другие)
						.catalog-card
							.catalog-card__image
								+picture('catalog/13', 'png')
							.catalog-card__title GG-T6731BK
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> 673
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый / Светло-голубой / Светло-красный
								li <b>Объем чернил:</b> 70ml
								li <b>Совместимость:</b> Epson Inkjet Photo L800/ L801/ L810/ L850
					.catalog__grid(data-tab='DUAL-ECO')
						.catalog-card
							.catalog-card__image
								+picture('catalog/14', 'png')
							.catalog-card__title GG-C13T945140-Dual
							ul.catalog-card__list
								li <b>Артикул OEM:</b> C13T945140
								li <b>Тип:</b> Картридж с чипом для офисной струйной техники
								li <b>Тип чернил:</b> На основе пигмента / красителя
								li <b>Цвет:</b> Черный
								li <b>Ресурс:</b> 5 000 стр.
								li <b>Совместимость:</b> Epson WorkForce Pro WF-C5210DW/ C5290DW/ C5710DWF/ C5790DWF
						.catalog-card
							.catalog-card__image
								+picture('catalog/15', 'png')
							.catalog-card__title GG-C13T865140-R
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> T8651
								li <b>Тип:</b> Картридж с чипом для офисной струйной техники
								li <b>Тип чернил:</b> На основе пигмента / красителя
								li <b>Цвет:</b> Черный
								li <b>Ресурс:</b> 10 000 стр.
								li <b>Совместимость:</b> Epson WorkForce Pro WF-M5690DWF/ M5190DW
						.catalog-card
							.catalog-card__image
								+picture('catalog/16', 'png')
							.catalog-card__title GG-3ED71A / 3ED67A / 3ED68A / 3ED69A
							ul.catalog-card__list
								li <b>Артикул ОЕМ:</b> 3ED71A/3ED67A/3ED68A/3ED69A
								li <b>Тип:</b> Картридж с чипом для офисной струйной техники
								li <b>Тип чернил:</b> На основе пигмента / красителя
								li <b>Цвет:</b> Черный / Голубой / Пурпурный / Желтый
								li <b>Объем чернил:</b> 80мл / 29мл / 29мл / 29мл
								li <b>Совместимость:</b> HP DesignJet T650/T630/T250/T230/T210/Studio Steel/Studio Wood Printers
	section.video(invisible)
		.container.video__container
			.video__wrapper
				.video__nav.swiper-nav
					.swiper-btn-prev
						+icon('chevron-left')(width='18', height='32')
					.swiper-btn-next
						+icon('chevron-right')(width='18', height='32')
				.video__slider.swiper
					.swiper-wrapper
						.video__item.swiper-slide
							video(poster='./images/poster/1.jpg', controls)
								source(src='./images/video1.mp4', type='video/mp4')
							.video__label G&G - Усовершенствованное автоматическое производство тонер-картриджей
						.video__item.swiper-slide
							video(poster='./images/poster/2.jpg', controls)
								source(src='./images/video2.mp4', type='video/mp4')
							.video__label G&G - эксперт в цвете
						.video__item.swiper-slide
							video(poster='./images/poster/3.jpg', controls)
								source(src='./images/video3.mp4', type='video/mp4')
							.video__label Как рождаются G&G картриджи для струйных широкоформатных устройств
						.video__item.swiper-slide
							video(poster='./images/poster/4.jpg', controls)
								source(src='./images/video4.mp4', type='video/mp4')
							.video__label Производство восстановленных картриджей G&G
						.video__item.swiper-slide
							video(poster='./images/poster/5.jpg', controls)
								source(src='./images/video5.mp4', type='video/mp4')
							.video__label Цветные тонер-картриджи G&G - видео-обзор iXBT

block modals
	#feedback.hystmodal.feedback(aria-hidden='true')
		.hystmodal__wrap
			.hystmodal__window.feedback__window(role='dialog' aria-modal='true')
				button.hystmodal__close.feedback__close(data-hystclose) Закрыть
				script(type='text/javascript' src='https://www.cnews.ru/inc/form/viewform.php?id=2264&embedded=js' charset='UTF-8')


block scripts
	include ../blocks/metrics.html
